.header{
    .header_items{
        max-width: 1240px;
        margin: 0 auto;
        padding-top: 20px;
        // padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header_icon_select{
        width: 160px;
        height: 40px;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        border: 1px solid #E1E1E1;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        select{
            border: none;
            color: #3F51B5;
            outline: none;
            font-size: 16px; 
            cursor: pointer;  

        }
    }
    .input_select{
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;  

    }
    .input{
        width: 550px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #E1E1E1;
        padding: 0 10px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: #F8F8F8;
        input{
            font-size: 16px;
            border: none;
            outline: none;
            background-color: transparent;
        }
        .header_search{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 40px;
            border-left: 1px solid #E1E1E1;
        }
    }
    .header_language_button{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .header_form{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: 105px;
        height: 40px;
        border: none;
        background-color: #EEF4FF;
        border-radius: 15px;
        cursor: pointer;
        select{
            border: none;
            outline: none;
            background-color: transparent;
            color: #3F51B5;
            cursor: pointer;  
        }
    }
    .header_button{
        width: 150px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 16px;
        border: none;
        border-radius: 15px;
        background-color: #3F51B5;
        color: white;
        cursor: pointer;
    }
}