.newBook{
    max-width: 1240px;
    margin: 0 auto;
    padding-top: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;


    .newBook_items{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .newBook_item{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .newBook_img{
        width: 230px;
        height: 335px;

        img{
            width: 100%;
            border-radius: 20px;
        }
    }
    .title{
        font-size: 20px;
        font-weight: 700;
    }
    .list{
        font-size: 16px;
        font-weight: 400;
        color: #3F51B5;
    }
    .newBook_rate_icon{
        display: flex;
        justify-content: space-between;
        padding: 0 2px;
    }
    .rate_star{
        display: flex;
        align-items: center;
        gap: 10px;
        color: goldenrod;
        font-weight: 700;
        font-size: 18px;

    }
    .newBook_icons{
        display: flex;
        align-items: center;
        gap: 10px;
        color: #9A9A9A;
        font-size: 18px;
    }
}